:root {
    --main-primary: 47, 50, 78;
    --main-secondary: 23, 27, 42;
    --main-border: 60, 64, 94;
    --main-terciary: 151, 156, 187;
    --showoff-primary: 255,255,255;
    --showoff-secondary: 47, 50, 64;
}